.header{
  display: flex;
  justify-content: space-between;
}

.logo{
  width: 150px;
}

.nav-items > ul{
  display: flex;
}

.nav-items > ul > li{
  list-style-type: none;
  margin: 10px;
  padding: 10px;
}


.restaurant-container{
  display: flex;
  flex-wrap: wrap;
}

.search{
  margin: 20px;
  padding: 20px;
  border: 1px solid black;
}

.restaurant-card{
  margin: 10px;
  width: 200px;
  height: 400px;
  border: 1px solid black;
}

.res-logo{
  width: 100%;
  height: 200px;
}

.restaurant-card:hover{
  cursor: pointer;
  border: 2px solid red;

}